<div class="register-box">
    <div class="card">
        <div class="card-body register-card-body">
            <h2>Ver Articulo</h2>
            <form [formGroup]="verArticulo" (ngSubmit)="listarArticulos()">
                <div class="input-group mb-3">
                    <label type="label" class="form-control">{{verArticulo.value.id}}</label>
                </div>
                <div class="input-group mb-3">
                    <label type="label" class="form-control">{{verArticulo.value.nombre}}</label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label type="label" class="form-control">{{verArticulo.value.precio}}</label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label type="label" class="form-control">{{verArticulo.value.costo}}</label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label type="label" class="form-control">{{verArticulo.value.fecha}}</label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Lista</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>